{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "react-app",
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb"
    ],
    "rules": {
        "indent": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
        "import/prefer-default-export": "off",
        "no-else-return": "off",
        "react/no-unescaped-entities": "off",
        "no-console": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
